<h3>Все карточки</h3>
<% @cards.each_slice(4) do |cards_row| %>
  <div class="row mb-1">
    <% cards_row.each do |card| %>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <%= card.original_text %>  
          </div>
          <div class="card-footer text-muted">
            <%= card.review_date.strftime("%m/%d/%Y") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
