
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привет!</h1>
    <p>
      У тебя есть непереведенные карточки!<br>
      Пройди по ссылке: <%= @url %> и сделай это!<br>
    </p>
    <p>Удачи!</p>
  </body>
</html>
